<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />

    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>
        <%= title %>
    </title>

    <style>
        h2 {
            margin-bottom: 20px;
        }

        .list-box {
            width: 350px;
            height: 500px;
            border-radius: 5px;
            box-shadow: 0.5px 0.5px 2px 1px #eee;
        }

        .chat-select {
            width: 350px;
        }

        .chat-box {
            width: 700px;
            height: 500px;
            border-radius: 5px;
            box-shadow: 0.5px 0.5px 2px 1px #eee;
        }

        .chat-box .icon {
            font-size: 150px;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        var cnum;

        const userID = "M3rcy"

        function sendMessage() {
            var input = document.getElementById('input');
            if (input.value) {
                socket.emit('chat_message', {
                    message: input.value,
                    cnum: cnum,
                    sender: "user1", // 쿠키에서 보내는 사람
                });
                input.value = '';
            }
        }

        function load_chat_log(btn) {
            console.log("load chatroom", btn.id)
            socket.emit('load_chatlog', (btn.id))
            cnum = btn.id;
        }

        socket.on('chat_message', (chat) => {
            const item = document.createElement('li');
            item.textContent = `${chat.Sender}:${chat.Message}`;
            messages.appendChild(item);
            window.scrollTo(0, document.body.scrollHeight);
        });

        socket.on('load_chatlog', (chats) => {
            messages.innerHTML = "";
            chats.forEach((chat) => {
                const item = document.createElement('li');
                item.textContent = `${chat.Sender}:${chat.Message}`;
                messages.appendChild(item);
                window.scrollTo(0, document.body.scrollHeight);
            })
        })

        socket.on('load_chatrooms', (chatrooms) => {
            const div = document.getElementById('chat-list')
            const chatList = [];

            console.log(chatrooms)

            chatrooms.forEach(chatroom => {
                if (chatroom.Sid === userID) {
                    var id = chatroom.Rid;
                }
                else {
                    var id = chatroom.Sid;
                }

                chatList.push(`<button onclick='load_chat_log(this)' id='${chatroom.Cno}' class="chat-select list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-2">${id}</h5>
                        <small class="text-body-secondary">3시간 전</small>
                    </div>
                    <p class="mb-1">티니핑 팔렸나요?</p>
                </button>`)
            });
            div.innerHTML = chatList.join('')

        })
    </script>
</head>

<body>
    <a href="/" id="home">로고</a>

    <h2 class="d-flex justify-content-center">
        <%= title %>
    </h2>

    <div class="d-flex justify-content-center align-items-center">
        <div class="list-box me-3">
            <div id="chat-list" class="list-group">

            </div>
        </div>

        <div class="chat-box d-flex flex-column justify-content-center align-items-center">
            <!-- <i class="bi bi-chat-dots icon"></i>
            <span>채팅을 선택하세요.</span> -->
            <ul id="messages"></ul>
            <div id="form">
                <input id="input" autocomplete="off" /><button onclick="sendMessage()">전송</button>
            </div>
        </div>
    </div>
</body>

</html>