<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />

    <title>
        <%= title %>
    </title>

    <style>
        h2 {
            margin-bottom: 20px;
        }

        .wrapper {
            height: 800px;
        }

        nav {
            width: 200px;
            border-right: 1px solid;
            position: sticky;
            height: 100%;
        }

        nav h1 {
            font-size: 20px;
            padding-left: 30px;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .menu li {
            list-style: none;
            padding-bottom: 20px;
        }

        .menu li a {
            height: 30px;
            display: block;
            font-size: 14px;
        }

        .profile-box {
            margin-left: 50px;
            width: 800px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0.5px 0.5px 2px 1px #eee;
        }

        .purchase-box {
            margin-left: 50px;
            width: 800px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0.5px 0.5px 2px 1px #eee;
        }

        .nav-item a {
            color: black;
        }
    </style>
</head>

<body>
    <a href="/" id="home">로고</a>

    <h2 class="d-flex justify-content-center">
        <%= title %>
    </h2>

    <div class="wrapper d-flex">
        <nav>
            <h1>마이페이지</h1>
            <ul class="menu">
                <li><a>내 정보 확인</a></li>
                <li><a>정보 변경하기</a></li>
                <li><a>판매/구매 내역</a></li>
                <li><a>찜 목록</a></li>
                <li><a>포인트</a></li>
                <li><a>신뢰도</a></li>
            </ul>
        </nav>
        <div class="d-flex flex-column">
            <div class="profile-box mb-4">
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img src="/images/basic_profile.jpg" width="200px">
                    </div>
                    <div class="profile-content d-flex flex-column flex-grow-1 ms-5">
                        <h5 class="mb-5">김데데시의 상점</h5>
                        <span class="mb-3">소개글 : 쿨거 환영</span>
                        <span class="mb-3">보유포인트 : 500 포인트</span>
                        <span>신뢰도 : 좋음</span>
                    </div>
                </div>
            </div>

            <div class="purchase-box">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">최근 판매 내역</a>
                        <img src="/images/tomato.jpg" width="150px">
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">최근 구매 내역</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>

</html>