<% if (rootLogin) { %> <!-- ๊ด๋ฆฌ์ ๋ก๊ทธ์ธ๋จ -->
<%- include('RootFunction/rootbar.ejs') %>
<% } else { %> 

<% if (usrLogin) { %> <!--์์ ๋ก๊ทธ์ธ ๋จ-->
<nav class="header d-flex justify-content-end align-items-center">
    <div class="header"></div>
    <b>์์ <%= usrid %>๋</b>
</nav><% } %> 

<nav class="header d-flex justify-content-end align-items-center">
    <a href="/roots/notificationList" class="link p-2">๊ณต์ง์ฌํญ</a>
    <% if (!rootLogin && !usrLogin) { %> <!--๋ก๊ทธ์ธ ์ ๋จ-->
    <a href="/joinForm" class="link p-2">ํ์๊ฐ์</a>
    <a href="/login" class="link p-2">๋ก๊ทธ์ธ</a>
    <% } %>
    <% if (rootLogin || usrLogin) { %> <!--๋ก๊ทธ์ธ ๋จ-->
    <a href="/logout" class="link p-2">๋ก๊ทธ์์</a>
    <% } %>
</nav>

<nav class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <a href="/" id="home" class="me-auto p-2">
            <img src="/images/design/weblogo.png" alt="๋ก๊ณ" style="height: 100px;  width: 200px">
        </a>
    </div>

    <% if (usrLogin) { %> <!--์์ ๋ก๊ทธ์ธ ๋จ-->
        <div class="header">
            <a href="/sellBoard/sellWrite" class="link p-2">ํ๋งคํ๊ธฐ</a>
            <a href="/myPage/" class="link p-2">๋ง์ดํ์ด์ง</a>
            <a href="/message" class="link p-2">๋ฉ์ธ์ง</a>
        </div>
        <% } else if (rootLogin) { %> <!--๊ด๋ฆฌ์ ๋ก๊ทธ์ธ ๋จ-->
            <nav class="header">
                <a href="/roots/manageUsrList" class="link p-2">ํ์๊ด๋ฆฌ</a>
                <a href="/roots/manageBoardList" class="link p-2">๊ฒ์ํ๊ด๋ฆฌ</a>
                <a href="/roots/manageAnalytics" class="link p-2">์ฌ์ดํธ๋ถ์</a>
            </nav>
            <% } else { %> <!-- ๋ก๊ทธ์ธ ์๋จ-->
                <div class="header" style="visibility: hidden;">
                    <a href="/sellBoard/sellWrite" class="link p-2">ํ๋งคํ๊ธฐ</a>
                    <a href="/myPage" class="link p-2">๋ง์ดํ์ด์ง</a>
                    <a href="/message" class="link p-2">๋ฉ์ธ์ง</a>
                </div>
                <% } %>
</nav>
<!-- ๊ฒ์ ์ฐฝ -->
<nav class="d-flex justify-content-between align-items-center mb-3">
    <form action="/sellBoard/search" method="post" class="d-flex w-100 justify-content-between">
        <input class="search-txt" style="width: 150%; text-align: center; background-color: #f5f5f5;border-radius: 5%;" name="searchword" id="searchword" type="text" placeholder="์ํ๋ช ์๋ฅ" />
        <button class="search-btn" type="submit">
            <i class="bi bi-search"></i>
        </button>
    </form>
</nav>
<hr> <!-- ๊ตฌ๋ถ์ -->

<div class="menu-bar d-flex">
    <div class="dropdown me-2">
        <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ์นดํ๊ณ๋ฆฌ
        </a>

        <ul class="dropdown-menu">
            <% for(var category in categories){ %>
                <li><a class="dropdown-item" href="/sellBoard/sellList/category/<%=categories[category]%>">
                        <%= category %>
                    </a></li>
                <% }%>
        </ul>
    </div>
    <a href="/sellBoard/sellList" , class="link p-2">์์ฒด ๋ณด๊ธฐ</a>
    <a href="/#hotfive" class="link p-2">๐ฅHot 4</a>
    <% if (usrLogin) { %> <!-- ์์๋ก๊ทธ์ธ -->
        <a href="/#wish" class="link p-2">๐ซ์์๋ฆฌ์คํธ</a>
    <% } %>
</div>

<hr> <!-- ๊ตฌ๋ถ์ -->
<% } %>