<% if (rootLogin) { %> <!-- ๊ด๋ฆฌ์ ๋ก๊ทธ์ธ๋จ -->
<%- include('RootFunction/rootbar.ejs') %>
<% } else { %> 

<% if (usrLogin) { %> <!--์์ ๋ก๊ทธ์ธ ๋จ-->
<nav class="header d-flex justify-content-end align-items-center">
    <div class="header"></div>
    <b>์์ <%= usrid %>๋</b>
</nav><% } %> 

<nav class="header d-flex justify-content-between align-items-center mb-3">
    <div>
        <a href="/" id="home" class="me-auto p-2">
            <img src="/images/design/weblogo.png" alt="๋ก๊ณ" style="height: 100px;  width: 200px">
        </a>
    </div>
    <!-- ๊ฒ์์ฐฝ -->
    <div class="d-flex align-items-center">
        <form action="/sellBoard/search" method="post" class="d-flex justify-content-center align-items-center">
            <input  class="search-txt" name="searchword" id="searchword" type="text" placeholder="์ํ๋ช ์๋ฅ" style="margin-left: 80px; width: 500px; height: 40px; text-align: center; border: 1px solid white; background-color: #edf0ec;" />
            <button class="search-btn" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </form>
    </div>
    <div>
        <a href="/roots/notificationList" class="link p-2">๊ณต์ง์ฌํญ</a>
        <a href="/roots/listQnA" class="link p-2">๋ฌธ์ํ๊ธฐ</a>
        <% if (rootLogin || usrLogin) { %> <!--๋ก๊ทธ์ธ ๋จ-->
            <a href="/logout" class="link p-2">๋ก๊ทธ์์</a>
        <div class="header">
            <a href="/sellBoard/sellWrite" class="link p-2">ํ๋งคํ๊ธฐ</a>
            <a href="/myPage/" class="link p-2">๋ง์ดํ์ด์ง</a>
            <a href="/message" class="link p-2">๋ฉ์ธ์ง</a>
        </div>
        <% } %>
        <% if (!rootLogin && !usrLogin) { %> <!--๋ก๊ทธ์ธ ์ ๋จ-->
            <div>
                <a href="/joinForm" class="link p-2">ํ์๊ฐ์</a>
                <a href="/login" class="link p-2">๋ก๊ทธ์ธ</a>
            </div>
        <% } %>
        
    </div>
</nav>
<hr> <!-- ๊ตฌ๋ถ์ -->

<div class="menu-bar d-flex">
    <div class="dropdown me-2">
        <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ์นดํ๊ณ๋ฆฌ
        </a>

        <ul class="dropdown-menu">
            <% for(var category in categories){ %>
                <li><a class="dropdown-item" href="/sellBoard/sellList/category/<%=categories[category]%>">
                        <%= category %>
                    </a></li>
                <% }%>
        </ul>
    </div>
    <a href="/sellBoard/sellList" , class="link p-2">์์ฒด ๋ณด๊ธฐ</a>
    <a href="/#hotfive" class="link p-2">๐ฅHot 4</a>
    <% if (usrLogin) { %> <!-- ์์๋ก๊ทธ์ธ -->
        <a href="/#wish" class="link p-2">๐ซ์์๋ฆฌ์คํธ</a>
    <% } %>
</div>

<hr> <!-- ๊ตฌ๋ถ์ --><br>
<% } %>