<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />

    <title>
        <%= title %>
    </title>

    <style>
        h2 {
            margin-bottom: 20px;
        }

        form div {
            margin-bottom: 10px;
        }

        form span {
            display: block;
            margin-bottom: 5px;
        }

        form input {
            width: 300px;
            padding: 8px;
            box-sizing: border-box;
        }

        form select {
            width: 300px;
            padding: 8px;
            box-sizing: border-box;
        }

        form button {
            width: 300px;
        }

        .link a {
            text-decoration: none;
            color: rgb(159, 156, 156);
        }

        .link span {
            color: rgb(159, 156, 156);
        }
    </style>
</head>

<body>
    <a href="/" id="home" class="me-auto p-2">
        <img src="/images/design/weblogo.png" alt="로고" style="height: 100px;  width: 200px"></a>

    <h2 class="d-flex justify-content-center">
        <%= title %>
    </h2>

    <form class="d-flex align-items-center flex-column">
        <div>
            <span>아이디</span>
            <input type="text" name="id" id="id">
        </div>
        <div>
            <span>이메일</span>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <span id="find_status"></span>
        </div>
        <div>
            <button class="btn btn-dark" id="find_pwd" onclick="location.href='/getpwd'">찾기</button>
        </div>
    </form>
    <div class="d-flex justify-content-center link">
        <a class="me-2" href="/findId">아이디를 잊으셨나요?</a>
        <span class="me-2">|</span>
        <a class="me-2" href="/login">로그인하기</a>
        <span class="me-2">|</span>
        <a class="me-2"  href="/joinForm">회원가입하기</a>
    </div>
</body>
<script>
    function FindPwdAvailability() {
        const id = $('#id').val().trim();
        const email = $('#email').val().trim();

        if (!id) {
            $('#find_status').text('아이디를 입력해주세요.').css('color', 'orange');
            $('#id').focus();
            return;
        }
        if (!email) {
            $('#find_status').text('이메일을 입력해주세요.').css('color', 'orange');
            $('#email').focus();
            return;
        }
        $.ajax({
            url: '/getpwd',
            method: 'GET',
            data: { id: id, email: email },
            success: function (response) {
                if (response.Pwd) {
                    $('#find_status').text("<" + id + '>님의 새로운 비밀번호 : ' + response.Pwd).css('color', 'green');
                } else {
                    $('#find_status').text("<" + id + '> 유저를 찾을 수 없습니다.').css('color', 'red');
                }
            },
            error: function () {
                alert('비밀번호 찾기 중 오류가 발생했습니다.');
            }
        });
    }
    $(document).ready(function () {
            // 비밀번호 중복 확인 버튼 클릭 시
            $('#find_pwd').click(function (e) {
                e.preventDefault(); // 기본 동작 방지 (페이지 이동 방지)
                FindPwdAvailability(); // 중복 확인 함수 호출
            });
        });
</script>
</html>