<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />
    <link rel='stylesheet' href='/stylesheets/rootview.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<body>
    <a href="/" id="home" class="me-auto p-2">
        <img src="/images/design/weblogo.png" alt="로고" style="height: 100px;  width: 200px"></a>
    
    <div class="container">
        <h2 class="form-title"><b><%= title %></b></h2>
        <form action="/findid">
            <div class="form-group">
                <input class="form-control" type="text" name="lname" id="lname" placeholder="성">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="fname" id="fname" placeholder="이름">
            </div>
            <div class="form-group">
                <input class="form-control" type="email" name="email" id="email" placeholder="이메일">
            </div>
            <div>
                <span style="text-align: center;" id="find_status"></span>
            </div>
            <button class="btn btn3" style="width: 100%;"  id="find_id" onclick="location.href='/getid'">찾기</button>
            <div class="form-footer link">
                <a href="/findPasswd">비밀번호를 잊으셨나요?</a>
            </div>
            <div class="form-footer link">
                <a href="/login">로그인하기</a>
                <span>|</span>
                <a href="/joinForm">회원가입하기</a>
            </div>
        </form>
    </div>
</body>
<script>
    function FindIdAvailability() {
        const lname = $('#lname').val().trim();
        const fname = $('#fname').val().trim();
        const email = $('#email').val().trim();

        if (!lname) {
            $('#find_status').text('성을 입력해주세요.').css('color', 'orange');
            $('#lname').focus();
            return;
        }
        if (!fname) {
            $('#find_status').text('이름을 입력해주세요.').css('color', 'orange');
            $('#fname').focus();
            return;
        }
        if (!email) {
            $('#find_status').text('이메일을 입력해주세요.').css('color', 'orange');
            $('#email').focus();
            return;
        }
        $.ajax({
            url: '/getid',
            method: 'GET',
            data: { lname: lname, fname: fname, email: email },
            success: function (response) {
                if (response.Pid) {
                    $('#find_status').text("<" + lname + fname + '>님의 아이디 : ' + response.Pid).css('color', 'green');
                } else {
                    $('#find_status').text("<" + lname + fname + '>님의 아이디를 찾을 수 없습니다.').css('color', 'red');
                }
            },
            error: function () {
                alert('아이디 찾기 중 오류가 발생했습니다.');
            }
        });
    }
    $(document).ready(function () {
            // 아이디 중복 확인 버튼 클릭 시
            $('#find_id').click(function (e) {
                e.preventDefault(); // 기본 동작 방지 (페이지 이동 방지)
                FindIdAvailability(); // 중복 확인 함수 호출
            });
        });
</script>
</html>