<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />

    <title> <%= title %> </title>
    <meta charset='utf-8'>

    <style>
        h2 {
            margin-bottom: 20px;
        }

        form div {
            margin-bottom: 10px;
        }

        form span {
            display: block;
            margin-bottom: 5px;
        }

        form input {
            width: 300px;
            padding: 6px;
            box-sizing: border-box;
        }

        form select {
            width: 300px;
            padding: 6px;
            box-sizing: border-box;
        }

        form button {
            width: 300px;
        }

        #id {
            width: 200px;
        }

        #id_check {
            width: 90px;
        }
    </style>
</head>

<body>
    <a href="/" id="home" class="me-auto p-2">
        <img src="/images/design/weblogo.png" alt="로고" style="height: 100px;  width: 200px"></a>

    <h2 class="d-flex justify-content-center"> <%= title %> </h2>

    <form action="/joinForm" method="post" onsubmit="return onWriteSubmit()" class="d-flex align-items-center flex-column">
        <div>
            <span>성</span>
            <input type="text" name="Lname" id="Lname" maxlength="50" required>
        </div>
        <div>
            <span>이름</span>
            <input type="text" name="Fname" id="Fname" maxlength="50" required>
        </div>
        <div>
            <span>아이디</span> <!--최대 20글자-->
            <input type="text" name="id" id="id" maxlength="20" required>
            <button class="btn btn-dark" id="id_check" onclick="location.href='/checkId'">중복확인</button>
        </div>
        <div><span id="id_status"></span></div>
        <div>
            <span>비밀번호</span> <!--최대 20글자-->
            <input type="password" name="passwd" id="passwd" maxlength="20" required>
        </div>
        <div><span id="passwd_format"></span></div>
        <div>
            <span>비밀번호 확인</span>
            <input type="password" name="passwd_check" id="passwd_check" required>
        </div>
        <div><span id="passwd_match"></span></div>
        <div>
            <span>닉네임</span> <!--최대 20글자-->
            <input type="text" name="nickname" id="nickname" maxlength="20" required>
        </div>
        <div><span id="nickname_status"></span></div>
        <div>
            <span>생일</span>
            <input type="date" name="Bdate" id="Bdate" required>
        </div>
        <div>
            <span>성별</span>
            <select name="sex" id="sex" required>
                <option value="Male">남자</option>
                <option value="Female">여자</option>
            </select>
        </div>
        <div>
            <span>이메일</span>
            <input type="email" name="email" id="email" required>
        </div>
        <button type="submit" class="btn btn-dark">회원가입</button>
    </form>

    <script>
        let ValidCheck = false;
        function checkIdAvailability() {
            const id = $('#id').val().trim();
            if (!id) {
                $('#id_status').text('아이디를 입력해주세요.').css('color', 'orange');
                $('#id').focus();
                ValidCheck = false;
                return;
            }

            $.ajax({
                url: '/checkId',
                method: 'GET',
                data: { id },
                success: function (response) {
                    if (response.duplicate) {
                        $('#id_status').text('이미 사용 중인 아이디입니다.').css('color', 'red');
                        ValidCheck = false;
                    } else {
                        $('#id_status').text('사용 가능한 아이디입니다.').css('color', 'green');
                        ValidCheck = true;
                    }
                },
                error: function () {
                    alert('아이디 중복 확인 중 오류가 발생했습니다.');
                    ValidCheck = false;
                }
            });
        }
        function IdFormatCheck(){ // 아이디 유효성 검사
            const id = $('#id').val().trim();
            const idPattern = /^[a-zA-Z0-9_-]{4,20}$/; // 아이디 형식: 영문, 숫자, _, -
            // 아이디 형식 확인
            if (!idPattern.test(id)) {
                $('#id_status').text('아이디는 4~20자 영문, 숫자, "_", "-"만 가능합니다.').css('color', 'orange');
                return false;
            } else {
                $('#id_status').text(''); // 유효하면 경고 문구 제거
                return true;
            }
        }
        function PwdFormatCheck(){ // 비밀번호 유효성 검사
            const passwd = $('#passwd').val().trim();
            const passwdPattern = /^[a-zA-Z0-9!@_-]{6,20}$/; // 비밀번호 형식: 영문, 숫자, !,@,-,_
            // 비밀번호 형식 확인
            if (!passwdPattern.test(passwd)) {
                $('#passwd_format').text('비밀번호는 6~20자 영문, 숫자 및 "!", "@", "_", "-"만 가능합니다.').css('color', 'orange');
                return false;
            } else {
                $('#passwd_format').text(''); // 유효하면 경고 문구 제거
                return true;
            }
        }
        function checkPasswordMatch() { // 비밀번호와 비밀번호 확인 일치 여부 검사
            const passwd = $('#passwd').val().trim();
            const passwdCheck = $('#passwd_check').val().trim();

            if (passwd !== passwdCheck) {
                $('#passwd_match').text('비밀번호가 일치하지 않습니다.').css('color', 'red');
                return false;
            } else {
                $('#passwd_match').text(''); // 유효하면 경고 문구 제거
                return true;
            }
        }
        function NicknameFormatCheck(){ // 닉네임 유효성 검사
            const nickname = $('#nickname').val().trim();
            const idPattern = /^[a-zA-Z0-9가-힣_- ]{4,20}$/; // 닉네임 형식: 한글, 영문, 숫자, _, -
            // 닉네임 형식 확인
            if (!idPattern.test(nickname)) {
                $('#nickname_status').text('닉네임은 4~20자 영문, 숫자, "_", "-"만 가능합니다.').css('color', 'orange');
                return false;
            } else {
                $('#nickname_status').text(''); // 유효하면 경고 문구 제거
                return true;
            }
        }
        function onWriteSubmit(){
            if ($("#pid").val().trim() == ""){
                var message = "아이디를 입력해 주세요.";
                $("#pid").val("");
                $("#pid").focus();
                alert(message);
                return false;
            }
            if ($("#fname").val().trim() == ""){
                var message = "이름을 입력하세요.";
                $("#fname").val("");
                $("#fname").focus();
                alert(message);
                return false;
            }
            if ($("#lname").val().trim() == ""){
                var message = "성을 입력하세요.";
                $("#lname").val("");
                $("#lname").focus();
                alert(message);
                return false;
            }
            if ($("#passwd").val().trim() == ""){
                var message = "비밀번호를 입력하세요.";
                $("#passwd").val("");
                $("#passwd").focus();
                alert(message);
                return false;
            }
            if ($("#passwd_check").val().trim() == ""){
                var message = "비밀번호를 확인해주세요.";
                $("#passwd_check").val("");
                $("#passwd_check").focus();
                alert(message);
                return false;
            }
            if ($("#nickname").val().trim() == ""){
                var message = "닉네임을 입력하세요.";
                $("#nickname").val("");
                $("#nickname").focus();
                alert(message);
                return false;
            }
            if ($("#Bdate").val().trim() == '') {
                var message = "생일을 입력하세요.";
                $("#Bdate").focus();
                alert(message);
                return false;
            }
            if ($("#email").val().trim() == ""){
                var message = "이메일을 입력하세요.";
                $("#email").val("");
                $("#email").focus();
                alert(message);
                return false;
            }
            return true;
        }
        $(document).ready(function () {
            // 아이디 중복 확인 버튼 클릭 시
            $('#id_check').click(function (e) {
                checkIdAvailability(); // 중복 확인 함수 호출
            });
            // 아이디, 닉네임, 비밀번호 형식 확인
            $('#id').on('input', function () {
                IdFormatCheck(); // 아이디 유효성 검사 호출
            });
            $('#passwd').on('input', function () {
                PwdFormatCheck(); // 비밀번호 유효성 검사 호출
            });
            $('#nickname').on('input', function () {
                NicknameFormatCheck(); // 비밀번호 유효성 검사 호출
            });
            // 비밀번호 매치 확인
            $('#passwd_check').on('input', function () {
                checkPasswordMatch(); // 아이디 유효성 검사 호출
            });
            // 폼 제출 시
            $('form').on('submit', function (e) {
                e.preventDefault(); // 유효하지 않으면 폼 제출 방지
                const valid1 = ValidCheck;
                const valid2 = IdFormatCheck();
                const valid3 = PwdFormatCheck();
                const valid4 = checkPasswordMatch();
                const valid5 = NicknameFormatCheck();
                // console.log("폼 유효성 체크 : ", valid1, valid2, valid3, valid4, valid5);
                if (valid1 && valid2 && valid3 && valid4 && valid5) {
                    
                    alert('회원가입을 완료했습니다!');
                    this.submit();
                } else {
                    alert('모든 입력값을 올바르게 입력해주세요.');
                }
            });
        });
    </script>

</body>

</html>