<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />
    <link rel='stylesheet' href='/stylesheets/rootview.css' />
    <link rel='stylesheet' href='/stylesheets/login.css' />

</head>

<body>
    <a href="/" id="home" class="me-auto p-2">
        <img src="/images/design/weblogo.png" alt="로고" style="height: 100px;  width: 200px"></a>
    
    <div class="container">
        <h2 class="form-title"><b><%= title %></b></h2>
        <form action="/login" method="post" onsubmit="return onWriteSubmit()">
            <div class="form-group">
                <input class="form-control" type="text" name="id" id="id" placeholder="아이디">
            </div>
            <div class="form-group">
                <input class="form-control" type="password" name="passwd" id="passwd" placeholder="비밀번호">
            </div>
            <button type="submit" class="btn btn3" style="width: 100%;">로그인</button>
        </form>
    
        <div class="form-footer link">
            <a href="/findId">아이디 찾기</a>
            <span >|</span>
            <a href="/findPasswd">비밀번호 찾기</a>
            <span >|</span>
            <a href="/joinForm">회원가입</a>
        </div>
        <div class="form-footer link">
            <a href="/rootLogin">관리자 로그인하기</a>
        </div>
    </div>
</body>

<script>
    function onWriteSubmit(){
        if ($("#id").val().trim() == ""){
            var message = "아이디를 입력해 주세요.";
            $("#id").val("");
            $("#id").focus();
            alert(message);
            return false;
        }
        if ($("#passwd").val().trim() == ""){
            var message = "비밀번호를 입력하세요.";
            $("#passwd").val("");
            $("#passwd").focus();
            alert(message);
            return false;
        }
    }
</script>  
</html>