/* 오른쪽 고정 사이드바 */
#right-sidebar {
    position: fixed;
    top: 200px;
    right: 0;

    width: 120px;
    height: auto;

    background-color: white;
    color: black;
    padding: 10px;

    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* 다른 요소들보다 위에 위치 */

    border-radius: 10px 0 0 10px;
    /* 오른쪽 모서리 둥글게 */

    transition: top 0.7s ease;
}

/* 최근 본 상품 리스트 */
#recent-products {
    margin-top: 10px;
    font-size: 14px;
}

#recent-products-list .product-item {
    margin-bottom: 20px;
    color: #fff;
    background-color: #444;
    padding: 8px;
    border-radius: 5px;
}