<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />
    <!-- rootbar 디자인 -->
    <link rel='stylesheet' href='/stylesheets/rootbar.css'/>
    <link rel='stylesheet' href='/stylesheets/rootview.css'/>
    <style>
        h2 {
            margin-bottom: 20px;
        }

        table tr {
            margin-bottom: 10px;
        }

        table input {
            width: 500px;
            padding: 8px;
            box-sizing: border-box;
        }

        table textarea {
            width: 500px;
            height: 200px;
        }

        table select {
            width: 500px;
            padding: 8px;
            box-sizing: border-box;
        }

        table button {
            width: 500px;
        }
        .btn-outline-warning {
            color: black;
        }
    </style>
</head>

<body>
    <%- include('rootbar.ejs') %>
    <div class="card" style="width: 40%;">
        <h2 class="d-flex justify-content-center"><b><%= title %></b></h2><br>
        <form action="/roots/notificationWrite" method="post" onsubmit="return onWriteSubmit()" class="d-flex align-items-center flex-column">
            <table>
                <tr class="d-flex flex-column">
                    <td>제목</td>
                    <td><input type="text" name="title" id="title"></td>
                </tr>
                <tr class="d-flex flex-column">
                    <td>내용</td>
                    <td><textarea name="content" id="content"></textarea></td>
                </tr>
                <tr class="d-flex flex-column">
                    <td colspan="2">
                        <div class="button-group" style="display: flex; justify-content: space-between; width: 100%;">
                            <button class="btn btn-outline-warning" type="submit" style="width: 48%;">올리기</button>
                            <button class="btn btn2" type="button" onclick="location.href='/roots/notificationList'" style="width: 48%;">돌아가기</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    </form>
    <script>
        function onWriteSubmit(){
            if ($("#title").val().trim() == ""){
                var message = "제목을 입력해 주세요.";
                $("#title").val("");
                $("#title").focus();
                alert(message);
                return false;
            }
            if ($("#content").val().trim() == ""){
                var message = "본문 내용을 입력해 주세요.";
                $("#content").val("");
                $("#content").focus();
                alert(message);
                return false;
            }
        }
    </script>
</body>

</html>